.main-cont {
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cont h1 {
    padding-top: 25vh;
    gap: 20px;
    font-size: 70px;
}

.graph-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20vh;
    gap: 60px;
}

.graph-section p{
    width: 35%;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    background-image: linear-gradient(#ec38bc, #7303c0); 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    
}
